<div class="pageBack">
    <i class="fa fa-2x fa-arrow-left" (click)="goBack()" id="back"></i>
</div>
<div class="page">
    <ng-container *ngIf="series">
        <div class="container">
          <img class="image" [attr.src]="(series.seriesImageUrl)">
          <div class="text">
            <p class="title">{{series.seriesTitle}}</p>
            <p class ="descr" #descr>{{series.description}}</p>
            <p class="info"><br>Release year:<br> {{series.yearReleased}}<br><br>Series genre:<br>{{series.genre}}</p>
            <p class="info">Streaming Platforms: <br> {{series.streamingPlatform}}</p>
          </div>
        </div> 
    </ng-container>
</div>

<div class="page">
    <div class="container2">
        <select name="menu" id="meun-items" (change)="selectSeason($event)" [value]="currentSeason ? 'Season ' + currentSeason : ''">
            <option disabled [selected]="!currentSeason">Select Season</option>
            <option class="item" *ngFor="let ss of seriesSeasonsList">Season {{ ss.airedSeason }}</option>
        </select>
    </div>
</div>

<div class="page">
    <ng-container *ngIf="LoggedIn">
        <div *ngFor="let ss of seriesSeasonsList;">
            <div class="episodes" id="{{ 'season' + ss.airedSeason}}" style="display: none;" >
                <app-buttons [buttonText]="'Episode ' + (i+1)" 
                [buttonBkg]="(ss.airedSeason < currentUserProgress?.currentSeason || (ss.airedSeason == currentUserProgress?.currentSeason && (i+1) <= currentUserProgress?.currentEpisode)) ? 'watched' : ''"  
                *ngFor="let item of [].constructor(ss.airedEpisodes); let i = index" 
                (click)="navigateToEpisode(['/series', ss.seriesId, 'season' + currentSeason + 'episode' + episodeNumber(i)], 
                (ss.airedSeason < currentUserProgress?.currentSeason || (ss.airedSeason == currentUserProgress?.currentSeason && (i+1) <= currentUserProgress?.currentEpisode)), ss.airedSeason, i+1)"></app-buttons>
            </div>  
        </div>
    </ng-container>
    <ng-container *ngIf="!LoggedIn">
        <div *ngFor="let ss of seriesSeasonsList;">
            <div class="episodes" id="{{ 'season' + ss.airedSeason}}" style="display: none;" >
                <app-buttons [buttonText]="'Episode ' + (i+1)" 
                *ngFor="let item of [].constructor(ss.airedEpisodes); let i = index" 
                [routerLink]="['/series', ss.seriesId, 'season' + currentSeason + 'episode' + ((i+1) | number)]"></app-buttons>
            </div>  
        </div>
    </ng-container>
   
</div>





