<div class="page">
    <div class="container">

        <img class="image" [attr.src]="(series.seriesImageURL)">

        <div class="text">
            <h2>{{series.seriesTitle}}</h2>
            <p>{{series.yearReleased}}, {{series.imdbRating}}, {{series.genre}}</p>
            <h4>{{series.description}}</h4>
            <p>Streaming Platforms: {{series.streamingPlatform}}</p>
        </div>
    </div> 
</div>

<div class="page">

    <div class="container2">
        <select name="menu" id="meun-items" (change)="selectSeason($event)">
            <option disabled selected>Select Season</option>
            <option class="item" *ngFor="let ss of seriesSeasonsList">Season {{ss.airedSeason}}</option>
        </select>
    </div>
</div>

<div class="page">
    <div *ngFor="let ss of seriesSeasonsList;">
        <div class="episodes" id="{{ 'season' + ss.airedSeason}}" style="display: none;" >
            <app-buttons [buttonText]="'Episode ' + (i+1)" *ngFor="let item of [].constructor(ss.airedEpisodes); let i = index" (click)="goToEpisode()"></app-buttons>
        </div>  
    </div>
</div>





