<div class="page">

  <div class="search">
    <app-search-bar 
    class="searchTerm" 
    type="text" 
    name="searchTerm" 
    [(ngModel)]="searchTerm" 
    (input)="search(searchTerm)" 
    ngDefaultControl></app-search-bar>
  </div>

  <div class="gradient-border" id="box">Choose a photo to personalise your merch</div>
  

  <div class="container">
    <ul class="image-gallery">
      <li *ngFor="let product of images" [routerLink]="['/products', product.imageId]">
        <img src="{{product.imageUrl}}" alt="???" >
        <div class="overlay"><span><i class="fal fa-tshirt"></i></span></div>
      </li>
    </ul>
  </div>
</div>