/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';

@font-face {
    font-family: 'Lora';
    src: url('assets/Lora-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: 'LoraItalic';
    src: url('assets/Lora-Italic-VariableFont_wght.ttf');
  }

html {
  background:  #bec5b3;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.no-scroll {
  overflow: hidden;
  height: 100%;
}
