<div class="page">

    <div *ngIf = "!LoggedIn">
        <div class="gradient-border" id="box">Log In or Register</div>
        <div class="buttons">
            <app-buttons [buttonText]="'Log In'" [routerLink]="['/login']"></app-buttons>
            <app-buttons [buttonText]="'Register'" [routerLink]="['/register']"></app-buttons>
        </div>
        <app-messages [mesId]="'warning'" messageText="You must be logged in to see your user panel." (click)="deleteToken()"></app-messages>
    </div>

    <div *ngIf = "LoggedIn">
        <div class="gradient-border" id="box">{{firstName}} {{lastName}}</div>
        <div class="profileImg">
            <div class="backgroundDiv">
                <img src="{{backgroundPicture}}" alt="???" class="background">
                <div class="overlayBkg" (click)="newBkgPicture()"><span>Click here to change your background picture</span></div>
            </div>
            <div class="profileDiv">
                <img src="{{profilePicture}}" alt="???" class="profile"> 
                <div class="overlay" (click)="newProfilePicture()"><span>Click here to change your profile picture</span></div>
            </div>
        </div>


        <div class="actions">
            <app-buttons  [buttonText]="'edit profile'" [routerLink]="['/user', userId]" ></app-buttons>
            <app-buttons  [buttonText]="'my orders'" [routerLink]="['/orders', userId]" ></app-buttons>
            <app-buttons  [buttonText]="'log out'" (click)="logOut()"></app-buttons>
        </div>

        <app-messages *ngIf="message" [mesId]="message.type" [messageText]="message.text" (messageClosed)="onMessageClosed()"></app-messages>
    </div>
    
</div>
