.page{
    margin-left: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color : #182d28;
    font-family: Lora;
    margin-top: 2%;
    position: relative;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: #bec5b3;
    font-size: 1.8rem;
}
.gradient-border {
    --borderWidth: 3px;
    background: #182d28;
    position: relative;
    border-radius: var(--borderWidth);
    margin-bottom: 20px;
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(180.5deg, rgb(0, 128, 128) 8.5%, rgb(174, 206, 100) 118.2%);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.profileImg {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.background,
.profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  border: solid #182d28;
  border-radius: 10px;
}

.background{
   height: 20%;
}

.profile {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.overlay {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    opacity: 0; /* Set the initial opacity to 0 */
    transition: opacity 0.3s; /* Add a transition for a smooth appearance */
}
  
.overlay span {
    color:#bec5b3;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
  
.profileDiv:hover .overlay {
    opacity: 1; /* Set the opacity to 1 on hover */
}

.overlayBkg {
    border-radius: 10px;
    width: 100%;
    height: 20%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    opacity: 0; /* Set the initial opacity to 0 */
    transition: opacity 0.3s; /* Add a transition for a smooth appearance */
}
  
.overlayBkg span {
    color:#bec5b3;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50px); /* Adjust the second percentage value to move the text higher or lower */
}
  
.backgroundDiv:hover .overlayBkg {
    opacity: 1; /* Set the opacity to 1 on hover */
}


.actions{
    position: fixed;
    display: flex;
    top:50%;
}