<div class="page">

    <div *ngIf = "!LoggedIn">
        <div class="gradient-border" id="box">Log In or Register</div>
        <div class="buttons">
            <app-buttons [buttonText]="'Log In'" [routerLink]="['/login']"></app-buttons>
            <app-buttons [buttonText]="'Register'" [routerLink]="['/register']"></app-buttons>
        </div>
        <app-messages [mesId]="'warning'"></app-messages>
    </div>

    <div *ngIf = "LoggedIn">
        <div class="gradient-border" id="box">{{firstName}} {{lastName}}</div>
        <div class="profileImg">
            <img src="{{backgroundPicture}}" alt="???" class="background" (click)="newBkgPicture()">
            <img src="{{profilePicture}}" alt="???" class="profile" (click)="newProfilePicture()"> 
        </div>
        
        
        <app-buttons  [buttonText]="'Log Out'" (click)="logOut()"></app-buttons>
    </div>
    

    

</div>
