<div class="page">
  <div class="search">
    <app-search-bar 
    class="searchTerm" 
    type="text" 
    name="searchTerm" 
    [(ngModel)]="searchTerm" 
    (input)="search(searchTerm)" 
    ngDefaultControl>
  </app-search-bar>
  </div>
  <div *ngIf="LoggedIn == true">
    {{findStartedSeries()}}
    <div class="started">
      <div class="gradient-border" id="box">Keep Watching</div>
      <ul class="image-gallery">
        <li *ngFor="let s of startedSeries | searchFilter: searchTerm" [routerLink]="['/series', s.seriesId]">
          <img [attr.src]="(s.seriesImageUrl)" alt="???" >
          <div class="overlay"><span><i class="fal fa-tv-retro"></i></span></div>
        </li>
      </ul>
    </div>
    <div class="notstarted">
      <div class="gradient-border" id="box">Not started</div>
      <ul class="image-gallery">
        <li *ngFor="let s of notStartedSeries | searchFilter: searchTerm" [routerLink]="['/series', s.seriesId]">
          <img [attr.src]="(s.seriesImageUrl)" alt="???" >
          <div class="overlay"><span><i class="fal fa-tv-retro"></i></span></div>
        </li>
      </ul>
    </div>
    <div class="finished">
      <div class="gradient-border" id="box">Finished</div>
      <ul class="image-gallery">
        <li *ngFor="let s of finishedSeries | searchFilter: searchTerm" [routerLink]="['/series', s.seriesId]">
          <img [attr.src]="(s.seriesImageUrl)" alt="???" >
          <div class="overlay"><span><i class="fal fa-tv-retro"></i></span></div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="LoggedIn == false">
    <div class="gradient-border" id="box">All Series</div>
      <ul class="image-gallery">
        <li *ngFor="let s of series | searchFilter: searchTerm" [routerLink]="['/series', s.seriesId]">
          <img [attr.src]="(s.seriesImageUrl)" alt="???" >
          <div class="overlay"><span><i class="fal fa-tv-retro"></i></span></div>
        </li>
      </ul>
  </div>
</div>