<div class="page">
    <div classs="container">
        <h2 mat-dialog-title><p><b>Warning</b></p></h2>
        <mat-dialog-content>
            <p><b>Are you sure you want to go to this episode even if you didn't watch it?</b></p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="onConfirm()">Confirm</button>
            <button mat-button (click)="setAllPastEpisodesAsWatched()">Confirm & set all past episodes as 'watched'</button>
            <button mat-button (click)="onCancel()">Cancel</button>
        </mat-dialog-actions>
    </div>
</div><a href=""></a>