.page{
  margin-left: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  color : #182d28;
  font-family: Lora;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reddit-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
  
.reddit-title {
  font-size: 36px;
  font-family: Lora;
  font-weight: bold;
  margin-top: 20px;
}
  
.reddit-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #a5af96;
  border-radius: 10px;
}
  
.reddit-post {
  width: 100%;
  margin-bottom: 100px;
  border: 3px solid#182d28;
  border-radius: 10px;
}
  
.reddit-post-body {
  padding: 30px;
}
  
.reddit-post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
  
.reddit-comment-form {
  display: flex;
  flex-direction: column;
}
  
.reddit-comment-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
  
.reddit-comment-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
  
.reddit-comment-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  padding-right: 0px;
  font-size: 16px;
  border: 2px solid #182d28;
  border-radius: 5px;
  background-color:  #bec5b3;
  color:  #182d28;
  font-family: Lora;
}
  
.reddit-comment-file-input {
  margin-top: 10px;
}
  
.reddit-comment-submit {
  margin-left: auto;
  margin-right: auto;
}

.reddit-comments {
  width: 100%;
}

.reddit-comment {
  margin-bottom: 20px;
  padding: 20px;
  color: #bec5b3;
  font-weight: bold;
  background-color: #182d28;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 3px solid#182d28;
  border-radius: 10px;
}
  
.reddit-comment-body {
  display: flex;
  flex-direction: column;
}

.reddit-comment-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.reddit-comment-image {
  max-width: 100%;
  margin-bottom: 10px;
}

.reddit-comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}


  
.reddit-comment-author {
  font-size: 25px;
  font-weight: bold;
  font-family: Lora;
  margin-bottom: 10px;
}

.reddit-comment-score {
  font-size: 20px;
  font-weight: bold;
  color: #bec5b3;
}

.reddit-comment-like, .reddit-comment-dislike {
  border: none;
  background-color: transparent;
  color: #bec5b3;
  cursor: pointer;
}
  
.reddit-comment-like i, .reddit-comment-dislike i {
  font-size: 25px;
}

.reddit-comment-like:hover, .reddit-comment-dislike:hover {
  color: #a5af96;
}

.reddit-comment-like:focus, .reddit-comment-dislike:focus {
  outline: none;
}

.reddit-comment-like i:hover, .reddit-comment-dislike i:hover {
  transform: scale(1.2);
}
  
.reddit-comment-reply {
  padding-left: 15px;
  background-color: #a5af96;
  border-radius: 10px;
}

.reddit-comment-reply-body {
  display: flex;
  flex-direction: column;
}

.reddit-comment-reply-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.reddit-comment-label {
  font-size: 1rem;
}

.reddit-comment-replies {
  margin-top: 20px;
  margin-left: 20px;
}

.reddit-comment-reply-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.reddit-comment-reply-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.reddit-comment-reply-author {
  font-size: 14px;
  font-weight: bold;
}

.reddit-reply {
  margin-bottom: 20px;
  padding: 20px;
  color: #bec5b3;
  font-weight: bold;
  background-color: #182d28;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 3px solid#a5af96;
  border-radius: 10px;
}

.reddit-reply-button {
  padding-left: 15px;
  background-color: #a5af96;
  border-radius: 10px;
}

.reddit-reply-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.reddit-reply-author {
  font-size: 20px;
  font-weight: bold;
  font-family: Lora;
  margin-bottom: 10px;
}
