<div class="page">
  <div class="reddit-header">
    <h1 class="reddit-title">Season {{seasonNumber}}, Episode {{episodeNumber}}</h1>
    <app-navigate-episodes></app-navigate-episodes>
  </div>

  <div class="reddit-body">
    
    <div class="reddit-post">
      <div class="reddit-post-body">
        <div class="reddit-post-title">Leave a Comment</div>
        <form class="reddit-comment-form">
          <div class="reddit-comment-input-group">
            <label for="comment" class="reddit-comment-label">Comment:</label>
            <input #commentInput id="comment" name="comment" required class="reddit-comment-input">
          </div>
          <div class="reddit-comment-input-group">
            <label for="image" class="reddit-comment-label">Upload an Image (insert url):</label>
            <input #imageInput id="comment" name="comment" required class="reddit-comment-input">
          </div>
          <app-buttons class="reddit-comment-submit" [buttonText]="'submit'" (click)="submitComment(commentInput.value, imageInput.value)"></app-buttons>
        </form>
      </div>
    </div>

    <div class="reddit-comments">
      <div *ngFor="let comment of comments; let i = index" class="reddit-comment">
        <div [ngClass]="{'blur': comment.hidden == 1}">
          <div class="reddit-comment-author">Posted by {{comment.authorName}}</div>
          <div class="reddit-comment-body">
            <div class="reddit-comment-text">{{comment.commentBody}}</div>
            <img src="{{comment.commentImageUrl}}" class="reddit-comment-image">
          </div>
          <div class="reddit-comment-footer">
            <div class="reddit-comment-score">Score: {{comment.score}}</div>
            <button class="reddit-comment-like" (click)="likeComment(comment)" [ngClass]="{'liked': comment.userReaction === 1}"><i class="far fa-thumbs-up"></i></button>
            <button class="reddit-comment-dislike" (click)="dislikeComment(comment)" [ngClass]="{'disliked': comment.userReaction === -1}"><i class="far fa-thumbs-down"></i></button>
          </div>
          <div class="reddit-comment-footer">
            <app-buttons [buttonText]="'reply'" [buttonBkg]= "'comment-button'" (click)="toggleReplyForm(comment)"></app-buttons>
            <app-buttons [buttonText]="'show comments'" [buttonBkg]= "'comment-button'" (click)="toggleReplies(comment)"></app-buttons>
          </div>
        </div>
        <div *ngIf="comment.hidden === 1" class="spoiler-warning"> This comment has been marked as spoiler</div>
        <div class="spoiler-div">
          <app-buttons *ngIf="comment.hidden === 1" class="spoiler-button" [buttonBkg]= "'comment-button'" [buttonText]="'show anyway'" (click)="toggleSpoilerComment(comment)"></app-buttons>
        </div>
        <div class="spoiler-div">
          <app-buttons *ngIf="comment.hidden === 0 && (isAdmin == 1 || isAdmin == 2)" class="spoiler-button" [buttonBkg]= "'comment-button'" [buttonText]="'mark as spoiler'" (click)="markSpoilerComment(comment)"></app-buttons>
        </div>
        <form class="reddit-comment-reply-form" *ngIf="comment.showReplyForm">
          <div class="reddit-comment-input-group">
            <label for="reply" class="reddit-comment-label">Reply:</label>
            <input #replyInput id="reply" name="reply" required class="reddit-comment-input">
            <label for="image" class="reddit-comment-label">Upload an Image (insert url):</label>
            <input #imageReplyInput id="comment" name="comment" required class="reddit-comment-input">
            <div class="reddit-reply-footer">
              <app-buttons class="reddit-reply-button" [buttonText]="'submit reply'" [buttonBkg]= "'comment-button'" (click)="submitReply(replyInput.value, imageReplyInput.value, comment.commentId)"></app-buttons>
            </div>

          </div>
        </form>

        <form class="reddit-comment-reply-form" *ngIf="comment.showReplies">
          <div class="reddit-comment-replies">
            <div *ngFor="let reply of commentsReplies[i]" class="reddit-reply">
              <div [ngClass]="{'blur': reply.hidden == 1}">
                <div class="reddit-reply-author">Posted by {{reply.authorName}}</div>
                <div class="reddit-comment-body">
                  <div class="reddit-comment-text">{{reply.commentBody}}</div>
                  <img src="{{reply.commentImageUrl}}" class="reddit-comment-image">
                  <div class="reddit-comment-footer">
                    <div class="reddit-comment-score">Score: {{reply.score}}</div>
                    <button class="reddit-comment-like" (click)="likeReply(reply)" [ngClass]="{'liked': reply.userReaction === 1}"><i class="far fa-thumbs-up"></i></button>
                    <button class="reddit-comment-dislike" (click)="dislikeReply(reply)" [ngClass]="{'disliked': reply.userReaction === -1}"><i class="far fa-thumbs-down"></i></button>
                  </div>
                </div>
              </div>
              <div *ngIf="reply.hidden === 1" class="spoiler-warning"> This comment has been marked as spoiler</div>
              <div class="spoiler-div">
                <app-buttons *ngIf="reply.hidden === 1" class="spoiler-button" [buttonBkg]= "'comment-button'" [buttonText]="'show anyway'" (click)="toggleSpoilerReply(reply)"></app-buttons>
              </div>
              <div class="spoiler-div">
                <app-buttons *ngIf="reply.hidden === 0 && (isAdmin == 1 || isAdmin == 2)" class="spoiler-button" [buttonBkg]= "'comment-button'" [buttonText]="'mark as spoiler'" (click)="markSpoilerReply(reply)"></app-buttons>
              </div>
            </div>
          </div>
        </form>

        
      </div>
    </div>
  </div>
  <app-messages *ngIf="message" [mesId]="message.type" [messageText]="message.text" (messageClosed)="onMessageClosed()"></app-messages>
</div>
