<div class="page">
    <div *ngIf="user" class="edit-profile-container">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <div class="section">
            <div class="form-group">
                <div class="input-container">
                  <label for="email">Email:</label>
                  <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
                </div>
            </div>  
            <div class="btn">
                <app-buttons [buttonText]="'save new email'" (click)="updateEmail()"></app-buttons>
            </div>            
          
        </div>
        <div class="section">
            <div class="form-group">
                <div class="input-container">
                  <label for="oldPassword">Old Password:</label>
                  <input type="password" id="oldPassword" [(ngModel)]="user.oldPassword" name="oldPassword" required>
                </div>
                <br>
                <div class="input-container">
                  <label for="newPassword">New Password:</label>
                  <input type="password" id="newPassword" [(ngModel)]="user.newPassword" name="newPassword" required>
                </div>
            </div>
            <div class="btn">
                <app-buttons [buttonText]="'save new pw'" (click)="updatePassword()"></app-buttons>
            </div>
        </div>
        <div class="section">
            <div class="form-group">
                <div class="input-container">
                    <label for="address1">Address 1:</label>
                    <input type="text" id="address1" [(ngModel)]="user.address1" name="address1" required>
                </div>
                <br>
                <div class="input-container">
                    <label for="address2">Address 2:</label>
                    <input type="text" id="address2" [(ngModel)]="user.address2" name="address2">
                </div>
                <div class="btn">
                    <app-buttons [buttonText]="'save new adress'" (click)="updateAddress()"></app-buttons>
                </div>
        </div>
      </div>
    <app-messages *ngIf="message" [mesId]="message.type" [messageText]="message.text" (messageClosed)="onMessageClosed()"></app-messages>
</div>